@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.slider{
    margin: auto;
    width: 90%;
    padding: 10px 10px 10px 100px;
}

.slider h1{
  text-align: center;
  margin: 5rem 0rem 3rem;
}

#slider{
  text-align: center;
}

.slider-icon.left, .slider-icon.right {
  background: black !important;
  opacity: 0.8 !important;
  color: white !important;
}

@media screen and (max-width: 800px) {
  .slider{
    margin: auto;
    width: 100%;
    padding: 0px;
}

.slider h1{
   font-size: 25px;
   padding: 0 10%;
}
}

@media screen and (max-width: 400px) {
  .slider h1{
    font-size: 23px;
    margin: 3rem 0rem 3rem;
  }
}